
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  background: #FFD1D1 ;
  font-size: 45px;
  color: #FF9494  ;
  font-weight: 500;
  font-family: 'Shantell Sans'  ;
  display: flex;
  justify-content: center;
}

/* ---------------------------------------------------------------------------- */

.compliments {
  margin: auto;
  height: 800px;
  width: 1600px;
  padding: 100px 300px;
  border-radius: 35px;

  background-color: #FFE3E1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  gap: 70px;
}
#compliments__header {
  font-size: 70px;
  font-weight: bold;
  cursor: default;
  transition: .3s;
}
#compliments__header span {
  transition: .3s;
}

#compliments__header:hover {
  font-size: 75px;
}

#compliments__text {
  font-weight: normal;
  font-size: 50px;
  transition: .3s;
  cursor: default;
  max-width: 700px;
  text-align: center;
}

#compliments__text:hover {
  font-size: 55px;
}

#compliments__button {
  font-family: 'Shantell Sans';
  color: #FFE3E1;
  font-size: 50px;
  background-color: #FF9494;
  padding: 30px 50px;
  border-radius: 35px;
  transition: .3s;
  cursor: pointer;
}

#compliments__button:hover {
  background-color: #ff6e6e;
  transform: scale(1.1);

}

#compliments__header span {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

#compliments__header span:nth-child(1) { animation-delay: 0.1s; }
#compliments__header span:nth-child(2) { animation-delay: 0.2s; }
#compliments__header span:nth-child(3) { animation-delay: 0.3s; }
#compliments__header span:nth-child(4) { animation-delay: 0.4s; }
#compliments__header span:nth-child(5) { animation-delay: 0.5s; }
#compliments__header span:nth-child(6) { animation-delay: 0.6s; }
#compliments__header span:nth-child(7) { animation-delay: 0.7s; }
#compliments__header span:nth-child(8) { animation-delay: 0.8s; }
#compliments__header span:nth-child(9) { animation-delay: 0.9s; }
#compliments__header span:nth-child(10) { animation-delay: 1s; }
#compliments__header span:nth-child(11) { animation-delay: 1.1s; }
#compliments__header span:nth-child(12) { animation-delay: 1.2s; }
#compliments__header span:nth-child(13) { animation-delay: 1.3s; }
#compliments__header span:nth-child(14) { animation-delay: 1.4s; }
#compliments__header span:nth-child(15) { animation-delay: 1.5s; }
#compliments__header span:nth-child(16) { animation-delay: 1.6s; }
#compliments__header span:nth-child(17) { animation-delay: 1.7s; }
#compliments__header span:nth-child(18) { animation-delay: 1.8s; }

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}